<div class="application">
    <p> Fill out the form below or download the application form
     </p>

    <%# application files found in the public/assets folder %>
     <p><%= link_to 'Overnight application 2020','/Ashreinu_2020_night_application.pdf', download: '' %> </p>


        <p><%= link_to 'Day camp application 2020','/Ashreinu_2020_day_application.pdf', download: '' %></p>



    <%= render partial: "application_form" %>

</div>