<div class="application">
    <p> <h4>Fill out the form below or download the application form
        <%= link_to 'here','/Ashreinu_2019_overnight.pdf', download: '' %></h4>
    </p>

    <%= render partial: "application_form" %>

</div>