<h1>Edit Your Info</h1>


    <%= render partial: 'form' %>

    <%= link_to "delete this user", fundraiser_path(@fundraiser), method: :delete, 
    data: {confirm: "are you sure you want to delete?"} %>