


<div class = "about">
<h1>
    About Us
</h1>

<p>Welcome to <b>Ashreinu</b>, a unique year-round program for Jewish girls ages 8 – 18 that has been instilling Jewish pride and values since 1994.</p>

<p>Ashreinu programs include <b>Shabbatons, trips, carnivals, parties</b>, and a <b>sunday school</b>, <b>day camp</b> and <b>overnight camp</b>. A year with Ashreinu is packed with fun and excitement, all in a warm, friendly Jewish environment that will make you feel like you’re among family.</p>

<p>Ashreinu’s programs are geared to girls grades 1-5.</p>

<p><b>Shalshelet</b>, a sister program to Ashreinu is exclusive to girls in grades 5-8.</p>

<p><b>Ashreinu teens</b> is for girls in high school and up, check out our teen page for the full range of our activities!</p>

<h3>Our Programs:</h3>
<p>For the true Shabbat experience, join Ashreinu on one of our many <b>Shabbatons</b>. Since Shabbat begins at sundown, you will be picked up from your home or school on Friday afternoon where you will be transported to join your friends and Ashreinu counselors to celebrate the Shabbat in the Bathurst and Lawrence area. Games, activities, stories, good food, singing, dancing, and prizes are all part of a Shabbat with Ashreinu!</p>

<p>Jewish holidays are fun when you join one of Ashreinu’s holiday trips! Our exciting trips include apple picking before Rosh Hashanah, a sukka party on Sukkot, a visit to the matzah bakery before Pesach, as well as an end-of-the-year trip to Centre Island.</p>

<p>The highlight of the winter is Ashreinu’s retreat Shabbaton. The retreat is located in a beautiful resort just two and a half hours east of Toronto. Spend a weekend packed with fun winter activites, games, delicious food, and a Shabbat that you will never forget.</p>

<p>For the summer of your life, try out our Day camp and Overnight camp, where the excitement never ends!
</p>
</div>