<%# 
<div class = "landing">
    <div class = "landing-inner">
        <h1 class="ml15">
        <span class="word">Camp</span>
        <span class="word">Ashreinu</span>
        </h1>   
    </div>
</div> %>

<div class="about">
    <h1>
        About Us
    </h1>

    <b>Ashreinu</b> is an organization that serves hundreds of children, teens, and their families each year. In the
    most amazing and unique display of Ahavas Yisroel, we connect every type of Jew. Ashreinu instills Jewish pride,
    love for Judaism, and Jewish continuity in all who are involved. Both our staff and families grow in their love and
    commitment to Judaism.

    <h2>Our Programs:</h2>

    <div class="card-container">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front" id="night-card-front">
                    <h3>Overnight Camp</h3>
                </div>
                <div class="flip-card-back" id="night-card-back">
                    <div>
                        <h3>Overnight Camp</h3>
                        <p>The highlight of our year! A chance for our 100 girls to live Judaism. 100 girls of all
                            different
                            levels of Judaism live a joyfully Jewish summer.</p>
                        <p>As our slogan goes: Ashreinu - Live it, experience it!</p>
                        <p>Ashreinu prides itself for being the only Jewish outreach overnight camp in Canada.</p>
                        <a href=<%= apply_path %> class="btn btn-default btn-primary" id="night-app">Apply Now!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front" id="day-card-front">
                    <h3>Day Camp</h3>
                </div>
                <div class="flip-card-back">
                    <div>
                        <h3>Day Camp</h3>
                        <p> In the heart of Toronto, 150 campers and staff enjoy a full summer of living joyful Judaism.
                            Our campers spend the day engaged in fun activities where they can also learn about their
                            Judaism.
                            Kosher meals and snacks are provided. The bond the forge with staff members will last
                            throughout the year! </p>
                        <button class="btn btn-default btn-primary" id="day-app">Apply Now!</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front" id="shab-card-front">
                    <h3>Shabbatonim</h3>
                </div>
                <div class="flip-card-back">
                    <div>
                        <h3>Shabbatonim</h3>
                        <p>Numerous times throughout the year, the girls join their favourite staff members for Shabbos.
                            Girls are hosted by local families and get a taste of what we hope will be one Shabbos of
                            many! We host separate
                            Shabbatonim for all age groups, elementary students through teens. Our annual spring retreat
                            is an exclusive
                            Shabbaton for 100
                            girls
                            held in a hotel location. We have also hosted smaller Shabbatonim in communities, such as
                            Hamilton, to bring
                            the
                            Ashreinu spirit to girls who do not have the benefit of the Ashreinu experience. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>