/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .margin {
     margin-left: 60px;
     margin-right: 60px;
     margin-top: 3px;
 }

 .login {
   text-align: right;
   margin-right: 11px;
   
 }

 .navbar-brand img {
   margin-top: -15px;
   height: 50px;
 }

 .navbar-nav {
   align-self: center;
 }


 .footer  {
  /* position: relative; */
  display: none;
  left: 0;
  bottom: 0;
  width: 100%;
   background-color: lightslategray;
   text-align: center;
   color: white;
 }

 .signiture  {
   text-align: right;
   font-size: 12px;
   }


    
