// Place all the styles related to the Fundraisers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// slideshow

.carousel  {
    max-width: 600px;
    margin: 0 auto;
}

h2 i {
    font-family: 'campy';
}
