// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Vast+Shadow&display=swap');

// body, html {
//     height: 100%;
//   }

.landing {
    background: image-url('lake_boats.jpg') no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 80%;
    width: 100%;
 
    margin: 0;
    // opacity: 0.90;
}

.about {
    background-color: rgba(229, 229, 229, 0.95); 
    border-radius: 20px;
    padding: 20px;
}



.about h1 {
    font-family: "Permanent Marker", cursive;
    font-style: italic; 
    font-size: 40px;    
}

.about h2 {
    font-family: "Permanent Marker", cursive;
    font-weight: 500;
    font-size: 30px;
}

.about h3 {
    font-family: "Permanent Marker", cursive;
    font-weight: 500;
}

.carousel  {
    max-width: 600px;
    margin: 0 auto;
}

.image_tag {
    max-height:100%; 
    max-width:50%;
    margin: 10px;
}