// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Vast+Shadow&display=swap');

.about h1 {
    font-family: "Permanent Marker", cursive;
    font-style: italic; 
}

.about h3 {
    font-family: "Permanent Marker", cursive;
    // font-style: italic; 
    font-weight: 500;
}

