// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map {
    height: 400px;
    width: 90%;
    height: 90%;
  }

.grid_container {
  display: inline-grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
}

.daycamp_wrapper  {
  grid-column: 1 / 2;
}

.overnight_wrapper  {
  grid-column: 3 / 4;
}