// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.map {
    height: 400px;
    width: 90%;
    height: 90%; 
  }

.grid_container {
  display: inline-grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
  // border: solid 3px white;

}
.map-wrapper {
  border-radius: 20px;
  background-color: rgba(229, 229, 229, 0.95);
}
#day-map {
  grid-column: 1 / 2;
  padding: 30px;
}

#night-map  {
  grid-column: 3 / 4;
  padding: 30px;
}