@font-face {
    font-family: 'techno';
    src:url(asset-path('fonts/VT323-Regular.ttf'));
  }
 @font-face {
    font-family: 'quicksand';
    src:url(asset-path('fonts/Quicksand-Regular.otf'));
 }

 @font-face {
    font-family: 'roboto';
    src:url(asset-path('fonts/Roboto-Regular.ttf'));
 }

 @font-face {
    font-family: 'campy';
    src:url(asset-path('fonts/ZCOOLKuaiLe-Regular.ttf'));
 }


  
* {
    font-family: "roboto";
  }
  
