@font-face {
   font-family: 'techno';
   src: url(asset-path('fonts/VT323-Regular.ttf'));
}

@font-face {
   font-family: 'quicksand';
   src: url(asset-path('fonts/Quicksand-Regular.otf'));
}

@font-face {
   font-family: 'roboto';
   src: url(asset-path('fonts/Roboto-Regular.ttf'));
}

@font-face {
   font-family: 'campy';
   src: url(asset-path('fonts/ZCOOLKuaiLe-Regular.ttf'));
}

@font-face {
   font-family: 'cabin';
   src: url(asset-path('fonts/Cabin-Regular.ttf'));
}

* {
   font-family: "roboto";
   // color: black;
   //  font-weight: bold;
}

.background {
   overflow: hidden;
   background: image-url('real_lake.jpg') no-repeat 50% 50%;
   background-size: cover;
   background-attachment: fixed;
}



.content {
   margin-left: 60px;
   margin-right: 60px;
   margin-top: 3px;
   margin-bottom: 60px;
}


@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');


.navbar {
   position: fixed;
   transition: top 0.3s;
   position: center;
}

.navbar-nav.navbar-center {
   position: absolute;
   left: 50%;
   transform: translatex(-50%);
}

.navbar-brand img {
   margin-top: -15px;
   height: 70px;
}

.navbar a {
   font-family: 'Questrial', 'Comfortaa', cursive;
   font-size: 17px;
   font-weight: 700;
   color: black;
}

.navbar a:hover {
   border: green;
}

.application {
   background-color: rgba(229, 229, 229, 0.95); 
   border-radius: 20px;
   padding: 20px;
}

