@font-face {
    font-family: 'techno';
    src:url(asset-path('fonts/VT323-Regular.ttf'));
  }
 @font-face {
    font-family: 'quicksand';
    src:url(asset-path('fonts/Quicksand-Regular.otf'));
 }

 @font-face {
    font-family: 'roboto';
    src:url(asset-path('fonts/Roboto-Regular.ttf'));
 }

 @font-face {
    font-family: 'campy';
    src:url(asset-path('fonts/ZCOOLKuaiLe-Regular.ttf'));
 }

 @font-face {
   font-family: 'cabin';
   src:url(asset-path('fonts/Cabin-Regular.ttf'));
}
  
* {
    font-family: "roboto";
    color: black;
   //  font-weight: bold;
  }
  

.backround1  {
   // display: block;
}
.background1::after  {
   width: 100%;
   height: 100%;
   margin: auto;
   content: "";
   background: image-url('lake.jpeg') no-repeat 50% 50%;
   background-size: cover;
   background-attachment: fixed;
   top: 0;
   display: table;
   opacity: 0.45;
   position: absolute;  
   z-index: -1;  
 }