<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank You <%= @name %> For Being In Touch</h1>
    <p>We will get back to you. This is the text of your message:</p>
    <p>email: <%= @email %></p>
    <p>phone: <%= @phone%></p>
    <p>body: <%= @body %></p>
  </body>
</html>